body {
  font-family: 'Ubuntu','Aria',sans-serif;
  padding: 1em;
}

h2 {
  color: palevioletred;
}

li {
  list-style: none;
}

.post {
  background: papayawhip;
  border: 1px solid darkorange;
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em;
}
